.med-sets {
  border: 1px solid #ccc;
  border-radius: 5px;

  table {
    margin-bottom: 0px;

    th {
      border-top: 0px;
    }
  }
}

#orders-pages {
  margin-top: 1rem;

  ul.pagination {
    margin-bottom: 0;
  }
}

#med-set-actions {
  #search-med-sets {
    width: 25%;
    float: right;
    margin: 10px;
  }

  #create-med-set {
    margin: 10px;
  }
}